body{
  background-image: url(https://free4kwallpapers.com/uploads/originals/2018/01/18/i-use-this-photo-i-took-as-my-background-wallpaper.jpg);
  background-size: auto;
}

header{
  background-color: black;
  text-align: center;
  color: white;
  font-family:Candara,"Star Wars" ;
  letter-spacing: 1px;
  position: static;
  height: 100px;
  top: 0;
  z-index: 1;
}

.toptag{
  background-color: black;
  text-align: center;
  color: white;
  font-family:Candara,"Star Wars" ;
  letter-spacing: 1px;
  position: fixed;
  height: 120px;
  top: 0;
  z-index: -1;
}

.topnav{
  margin-top: 10px;
  background-color: #fffff0;
  width: 100%;
  height: 52px;
  background-color: #ff99ff;
}

.topnav a{
  float: left;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 26px;
  font-family: Garamond,"Times Roman";
  width: 200px;
  padding: 10.5px 20px;
  border: 1px solid #0066ff;
  background-color: #9999ff;
}

.topnav img{
  padding:5px;
  padding-left: 100px;
  float: left;
  height: 40px;
  width: 50px;
}

.topnav a:hover{
    background-color: #0000ff;
    color: white;
}

.topnav a.cart{
  float: left;
  border: none;
  padding-left: 0px;
  background-color: #ff99ff;
}

.scart{
  height:70px;
  width:300px;
  font-size:30px;
  float: left;
  border: none;
  padding-left: 0px;
  background-color: #ff99ff;
}
.ac{
  float: left;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 26px;
  font-family: Garamond,"Times Roman";
  width: 200px;
  padding: 10.5px 20px;
  border: 1px solid #0066ff;
  background-color: #9999ff;
}

.ad{
  float: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 26px;
  font-family: Garamond,"Times Roman";
  width: 200px;
  padding: 10.5px 20px;
  border: 1px solid cyan;
  background-color: purple  ;
}

.sidebar{
  position: relative;
  background-color: #4c4c4c;
  color: white;
  float: left;
  height: 1000px;
  margin-top: 10px;
  width: 195px;
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
  box-shadow: 0px 16px 40px 0px rgba(0,0,0.5,0.5);
}

.dplace p{
  float: none;
  text-decoration: none;
  color: #9df6c7;
  padding: 10px 10px;
  font-family: "Times Roman",Verdana,"Brush Script MT";
}

.dcont{
  display: none;
  font-family: "Courier";
  padding: 10px 10px;
  z-index: 1;
  position: relative;
}

.dcont a{
  text-decoration: none;
  color: #9df6c7;
  display: block;
}

.dplace:hover .dcont {
  display: block;
}

.body{
  width: auto;
  margin-left: 210px;
  padding-left: 20px;
  padding-top: 5px;
}
p{
  text-align:center;font-weight:bold;font-size:20px;
}
.products{
  z-index: 1;
  background-color: white;
  float: left;
  height:340px;
  width:340px;
  margin-top: 5px;
  margin-left: 15px;
  overflow:hidden;
  border: 1px solid gray;
  text-overflow: ellipsis;
}
.productscart{
  z-index: 1;
  display: block;
  float:none;
  background-color: white;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  height: 430px;
  width:1055px;
  margin-top: 100px;
  margin-left: 15px;
  overflow:hidden;
  border: 1px solid gray;
  text-overflow: ellipsis;
}
.productscart2{
  z-index: 1;
  display: block;
  float:none;
  align-items: center;
  background-color: white;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  height: 650px;
  width:1055px;
  margin-top: auto;
  margin-left: 15px;
  overflow:hidden;
  border: 1px solid gray;
  text-overflow: ellipsis;
}

.A2C{
  background-color: orange;
  margin-left: 125px;
  width: 90px;
  height: 30px;
}

img{
  width: 100%;
  height: 70%;
}
